@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

body {
  @apply bg-[#0048ca]
}




